extends ../../layouts/main

block vars
  - var title = "SmartWorkshop - Tax Information"
  - var bodyClass = "mechanic-edit-body"
  - var activePage = "tax"

block head
  link(rel="stylesheet" href="/css/features/mechanic/edit.css")

block content
  header.main-header.general-header
    .header-content
      a.main-brand(href="/")
        span.main-logo SW
        div
          strong SmartWorkshop
          span Vehicle Service Marketplace

  main.mechanic-edit-shell.primari-shell
    include ./partials/edit-nav.pug

    section.mechanic-edit-main
      .edit-card
        h3 Tax Information
        p.subtle Provide your tax details for invoicing.
        button.primary(type="button") Save
