footer.site-footer
  .site-footer-content
    span.site-footer-copy SmartWorkshop 2026 Prototype
    .site-footer-social
      a.site-social-link(href="#" aria-label="LinkedIn")
        svg(viewBox="0 0 24 24" aria-hidden="true")
          path(d="M6.94 8.5H4V20h2.94V8.5ZM5.47 7.3a1.7 1.7 0 1 0 0-3.4 1.7 1.7 0 0 0 0 3.4ZM20 20v-6.25c0-3.35-1.78-4.91-4.16-4.91-1.92 0-2.78 1.05-3.26 1.79V8.5H9.64V20h2.94v-5.68c0-.3.02-.6.11-.82.25-.6.82-1.21 1.78-1.21 1.26 0 1.76.95 1.76 2.35V20H20Z")
      a.site-social-link(href="#" aria-label="Facebook")
        svg(viewBox="0 0 24 24" aria-hidden="true")
          path(d="M13.5 21v-8h2.7l.4-3h-3.1V8.1c0-.87.25-1.46 1.5-1.46H17V4c-.37-.05-1.13-.12-2.15-.12-2.13 0-3.59 1.3-3.59 3.7V10H8.5v3h2.76v8h2.24Z")
      a.site-social-link(href="#" aria-label="Twitter")
        svg(viewBox="0 0 24 24" aria-hidden="true")
          path(d="M18.9 4H21l-4.6 5.25L22 20h-4.4l-3.45-4.55L10.2 20H8.1l4.92-5.63L2 4h4.5l3.12 4.13L13.2 4h5.7Zm-1.54 14.4h1.22L6.63 5.53H5.31L17.36 18.4Z")
      a.site-social-link(href="#" aria-label="YouTube")
        svg(viewBox="0 0 24 24" aria-hidden="true")
          path(d="M21.6 7.2a2.8 2.8 0 0 0-1.97-1.98C17.9 4.75 12 4.75 12 4.75s-5.9 0-7.63.47A2.8 2.8 0 0 0 2.4 7.2c-.47 1.73-.47 5.3-.47 5.3s0 3.57.47 5.3a2.8 2.8 0 0 0 1.97 1.98c1.73.47 7.63.47 7.63.47s5.9 0 7.63-.47a2.8 2.8 0 0 0 1.97-1.98c.47-1.73.47-5.3.47-5.3s0-3.57-.47-5.3ZM10 15.9V9.1l6 3.4-6 3.4Z")
      a.site-social-link(href="#" aria-label="Instagram")
        svg(viewBox="0 0 24 24" aria-hidden="true")
          path(d="M7.5 3h9A4.5 4.5 0 0 1 21 7.5v9a4.5 4.5 0 0 1-4.5 4.5h-9A4.5 4.5 0 0 1 3 16.5v-9A4.5 4.5 0 0 1 7.5 3Zm0 1.8A2.7 2.7 0 0 0 4.8 7.5v9a2.7 2.7 0 0 0 2.7 2.7h9a2.7 2.7 0 0 0 2.7-2.7v-9a2.7 2.7 0 0 0-2.7-2.7h-9Zm10.2 1.35a1.05 1.05 0 1 1 0 2.1 1.05 1.05 0 0 1 0-2.1ZM12 7.8A4.2 4.2 0 1 1 7.8 12 4.2 4.2 0 0 1 12 7.8Zm0 1.8A2.4 2.4 0 1 0 14.4 12 2.4 2.4 0 0 0 12 9.6Z")
