block vars
  - var title = "SmartWorkshop"
  - var bodyClass = ""
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/pages/auth.css")
    block head
  body(class=bodyClass)
    block content
    block scripts
      script(src="/js/main.js")
