block vars
  - var title = "SmartWorkshop"
  - var bodyClass = ""
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="icon" href="/favicon.svg" type="image/svg+xml")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/features/auth/auth-shell.css")
    block head
  body(class=bodyClass)
    block content
    block scripts
      script(src="/js/shared/app.js")
      script(src="/js/features/auth/auth-pages.js")
