extends ../../layouts/main

block vars
  - var title = "SmartWorkshop - Documents"
  - var bodyClass = "mechanic-edit-body"
  - var activePage = "documents"

block head
  link(rel="stylesheet" href="/css/pages/mechanic-edit.css")

block content
  header.main-header.general-header
    .header-content
      .main-brand
        span.main-logo SW
        div
          strong SmartWorkshop
          span Vehicle Service Marketplace

  main.mechanic-edit-shell.primari-shell#mechanicDocumentsShell
    include ./partials/edit-nav.pug

    section.mechanic-edit-main
      .edit-card
        h3 Documents
        p.subtle Upload documents required for approval.
        .upload-row
          input(type="file")
          button.primary(type="button") Upload
      form(method="post" action="/mechanic/documents/complete")
        input(type="hidden" name="email" id="docsEmail")
        button.primary(type="submit") Next step
