extends ../../layouts/main

block vars
  - var title = "SmartWorkshop - Welcome"
  - var bodyClass = "mechanic-welcome application-body app-shell-body"

block head
  link(rel="stylesheet" href="/css/pages/mechanic-view.css")
  link(rel="stylesheet" href="/css/pages/mechanic-home.css")
  link(rel="stylesheet" href="/css/pages/bookings.css")

block content
  header.main-header.basic-header
    .body-content
      a.main-brand(href="/")
        span.main-logo SW
        span
          strong SmartWorkshop
          span.main-brand-subtitle Vehicle Service Marketplace
      a.bookings-header-help(href="/application/join") Need help?

  main.primari-shell
    .page-shell-content
      section.welcome-layout1
        h1 Application Accepted
        p.subtle
          | Good news! Based on the answers you provided on the previous page, it looks like you're a great match for the network.
        p.subtle
          | To get you approved and able to accept your first booking, you'll need to finish setting up your account and provide proof of insurance as part of the vetting process.
        p.subtle
          | The first step is to set a password to finish creating your account.
        button.primary.ghost-link#mechanicWelcomeStartBtn(type="button") Get started
        .welcome-password-card.is-hidden#mechanicSetPasswordCard
          h2 Set your password
          p.subtle Finish creating your mechanic account by setting a password.
          form#setMechanicPasswordForm
            input(type="hidden" name="email" id="mechanicPasswordEmail")
            .field-grid
              label
                span New password
                input(type="password" name="password" id="mechanicPasswordValue" placeholder="••••••••")
              label
                span Confirm password
                input(type="password" name="confirm" id="mechanicPasswordConfirm" placeholder="••••••••")
            p.form-error#mechanicPasswordError(role="alert" aria-live="polite")
            button.primary(type="submit") Save password

  include ../../partials/general-footer
