extends ../../layouts/main

block vars
  - var title = "SmartWorkshop - User"
  - var bodyClass = "admin-body"

block content
  header.site-header.admin-header
    .brand
      span.logo SW
      div
        strong SmartWorkshop
        span Vehicle Service Marketplace

  main.admin-shell#userPage
    section.admin-app.user-app
      aside.admin-rail
        .rail-brand
          span.logo SW
        nav.rail-nav
          button.admin-nav-link.rail-item.user-nav-link.active(type="button" data-view="account")
            span.rail-icon(aria-hidden="true")
              svg(viewBox="0 0 24 24")
                circle(cx="12" cy="8" r="4")
                path(d="M5 20a7 7 0 0 1 14 0")
            | Account
          button.admin-nav-link.rail-item.user-nav-link(type="button" data-view="bookings")
            span.rail-icon(aria-hidden="true")
              svg(viewBox="0 0 24 24")
                path(d="M3 7h18")
                path(d="M8 3v4")
                path(d="M16 3v4")
                rect(x="3" y="7" width="18" height="14" rx="2")
            | Bookings
          button.admin-nav-link.rail-item.user-nav-link(type="button" data-view="mot")
            span.rail-icon(aria-hidden="true")
              svg(viewBox="0 0 24 24")
                path(d="M12 2l8 4v6c0 5-3.5 8.5-8 10-4.5-1.5-8-5-8-10V6z")
                path(d="M9 12l2 2 4-4")
            | MOT
          button.admin-nav-link.rail-item.user-nav-link(type="button" data-view="settings")
            span.rail-icon(aria-hidden="true")
              svg(viewBox="0 0 24 24")
                circle(cx="12" cy="12" r="3")
                path(d="M19.4 15a1.6 1.6 0 0 0 .3 1.8l.1.1a2 2 0 1 1-2.8 2.8l-.1-.1a1.6 1.6 0 0 0-1.8-.3 1.6 1.6 0 0 0-1 1.5V21a2 2 0 1 1-4 0v-.2a1.6 1.6 0 0 0-1-1.5 1.6 1.6 0 0 0-1.8.3l-.1.1a2 2 0 0 1-2.8-2.8l.1-.1a1.6 1.6 0 0 0 .3-1.8 1.6 1.6 0 0 0-1.5-1H3a2 2 0 1 1 0-4h.2a1.6 1.6 0 0 0 1.5-1 1.6 1.6 0 0 0-.3-1.8l-.1-.1a2 2 0 1 1 2.8-2.8l.1.1a1.6 1.6 0 0 0 1.8.3h.1a1.6 1.6 0 0 0 1-1.5V3a2 2 0 1 1 4 0v.2a1.6 1.6 0 0 0 1 1.5h.1a1.6 1.6 0 0 0 1.8-.3l.1-.1a2 2 0 1 1 2.8 2.8l-.1.1a1.6 1.6 0 0 0-.3 1.8v.1a1.6 1.6 0 0 0 1.5 1H21a2 2 0 1 1 0 4h-.2a1.6 1.6 0 0 0-1.5 1z")
            | Settings
        .rail-footer
          button.admin-signout#userLogoutBtn(type="button") Sign out

      .is-hidden
        .admin-profile-avatar#userProfileAvatar AG
        strong#userProfileName Angel Gomes
        span#userProfileRole ADMIN
        select#userRoleSwitcher.role-switcher

      .admin-content
        section.admin-view#userAccountView
          .settings-card
            .settings-header
              div
                h2 Account Details
                p Review your profile information.

            .settings-divider

            .settings-photo-row
              .settings-avatar.settings-avatar-lg#userSettingsAvatar AG

            .settings-divider

            .settings-profile
              .settings-meta
                h4 Name
                p#userSettingsName Angel Gomes

            .settings-divider

            .settings-row
              div
                h4 Contacts
                p#userSettingsPhone Phone: -
                p#userSettingsEmailDetail Email: admin@smartworkshop.local
                p#userSettingsUsername Username: -
                p#userSettingsAddress Address: -

            .settings-row
              div
                h4 Role
                p#userSettingsRole ADMIN

            .settings-row
              div
                h4 Theme
                p Light mode

            .settings-row
              div
                h4 Integration
                p No integrations connected

        section.admin-view.is-hidden#userBookingsView
          .settings-card
            .settings-header
              div
                h2 Bookings
                p See your upcoming and past bookings.
            p.form-error No bookings to show yet.

        section.admin-view.is-hidden#userMotView
          .settings-card
            .settings-header
              div
                h2 MOT Reminders
                p Track MOT due dates and reminders.
            p.form-error No MOT reminders set.

        section.admin-view.is-hidden#userSettingsView
          .settings-card
            .settings-header
              div
                h2 Account settings
                p Manage your profile and preferences.

            .settings-divider

            .settings-layout
              nav.settings-subnav
                button.settings-subnav-link.active(type="button" data-subview="general") General
                button.settings-subnav-link(type="button" data-subview="notifications") Notifications
                button.settings-subnav-link(type="button" data-subview="security") Login & security

              .settings-panel
                section.settings-subview#userSettingsGeneral
                  .settings-photo-row
                    .settings-avatar.settings-avatar-lg#userSettingsAvatarSettings AG
                    label.ghost(for="userSettingsPhotoInput") Upload
                    input.file-input#userSettingsPhotoInput(type="file" accept="image/*")

                  .settings-divider

                  .settings-profile
                    .settings-meta
                      h4 Full name
                      p#userSettingsNameSettings Angel Gomes
                    button.secondary(type="button") Edit

                  .settings-divider

                  .settings-row
                    div
                      h4 Contacts
                      label.settings-field
                        | Phone
                        input#userSettingsPhoneInput(type="text" placeholder="Add phone")
                      label.settings-field
                        | Username
                        input#userSettingsUsernameInput(type="text" placeholder="Add username")
                      label.settings-field
                        | Email
                        input#userSettingsEmailInput(type="email" placeholder="Add email")
                      label.settings-field
                        | Address
                        input#userSettingsAddressInput(type="text" placeholder="Add address")
                      p.form-error#userSettingsContactMessage(role="alert" aria-live="polite")
                    button.secondary#userSettingsContactSave(type="button") Save

                  .settings-row
                    div
                      h4 Role
                      p#userSettingsRoleSettings ADMIN
                    button.secondary(type="button") Edit

                  .settings-row
                    div
                      h4 Theme
                      p Light mode
                    button.secondary(type="button") Light mode

                  .settings-row
                    div
                      h4 Integration
                      p No integrations connected
                    button.secondary(type="button") Connect

                section.settings-subview.is-hidden#userSettingsNotifications
                  p.form-error No notification preferences configured.

                section.settings-subview.is-hidden#userSettingsSecurity
                  p.form-error Security options will appear here.
