extends ../../layouts/main

block vars
  - var title = "SmartWorkshop - Join as a Mechanic"
  - var bodyClass = "application-body app-shell-body"

block head
  link(rel="stylesheet" href="/css/features/application/application.css")
  link(rel="stylesheet" href="/css/features/mechanic/home.css")
  link(rel="stylesheet" href="/css/features/bookings/bookings.css")

block content
  header.main-header.basic-header
    .body-content
      a.main-brand(href="/")
        span.main-logo SW
        span
          strong SmartWorkshop
          span.main-brand-subtitle Vehicle Service Marketplace
      a.bookings-header-help(href="/application/join") Need help?

  main.primari-shell
    .page-shell-content
      .application-join-layout#applicationJoin
        h1 What type of mechanic are you?
        .application-grid
          article.application-card
            a.application-link(href="#applicationForm" data-mechanic-type="business_owner")
              .application-icon
                svg(viewBox="0 0 48 48" aria-hidden="true")
                  rect(x="9" y="8" width="30" height="32" rx="4")
                  path(d="M16 16h16M16 24h16M16 32h10")
              h3 Business Owner
              p I own or represent an independent garage or mobile mechanic business with full equipment and insurance.
          article.application-card
            a.application-link(href="#applicationForm" data-mechanic-type="employed_mechanic")
              .application-icon
                svg(viewBox="0 0 48 48" aria-hidden="true")
                  path(d="M14 10h8l2 10-6 6-6-6 2-10z")
                  path(d="M30 14h8l-2 12-6 6-6-6 6-12z")
              h3 Employed Mechanic
              p I work as a mechanic for another business but am interested in starting my own mobile business or garage.
          article.application-card
            a.application-link(href="#applicationForm" data-mechanic-type="other")
              .application-icon
                svg(viewBox="0 0 48 48" aria-hidden="true")
                  circle(cx="24" cy="24" r="16")
                  path(d="M24 16v8l6 6")
              h3 Other
              p I don't fit into either of the other two categories.

      section.application-form-layout#applicationForm(class="is-hidden")
        .application-form-header
          h2#applicationHeading Congratulations!
          p.subtle You are only a minute away from getting signed up.
        form.application-form-layout-2(method="post" action="/application/join")
          .form-section.section-experience
            h3 Your experience
            label
              span Years as a mechanic
              input(type="number" name="years_experience" min="0" placeholder="0")
            h4.form-subsection-title Qualifications
            p.subtle Select all that apply, or choose "I don't have any qualifications"
            .form-certification
              label.checkbox
                input(type="checkbox" name="certifications" value="NVQ Level 1")
                | NVQ Level 1
              label.checkbox
                input(type="checkbox" name="certifications" value="NVQ Level 2")
                | NVQ Level 2
              label.checkbox
                input(type="checkbox" name="certifications" value="NVQ Level 3")
                | NVQ Level 3
              label.checkbox
                input(type="checkbox" name="certifications" value="City & Guilds Level 1")
                | City & Guilds Level 1
              label.checkbox
                input(type="checkbox" name="certifications" value="City & Guilds Level 2")
                | City & Guilds Level 2
              label.checkbox
                input(type="checkbox" name="certifications" value="City & Guilds Level 3")
                | City & Guilds Level 3
              label.checkbox
                input(type="checkbox" name="certifications" value="Other Qualification")
                | Other Qualification
              label.checkbox
                input(type="checkbox" name="certifications" value="EV/HEV Qualification/Training")
                | EV/HEV Qualification/Training
              label.checkbox
                input(type="checkbox" name="certifications" value="none")
                | I don't have any qualifications

            h4.form-subsection-title Accreditations
            p.subtle Select all that apply, or choose "I don't have any accreditations"
            .form-certification
              label.checkbox
                input(type="checkbox" name="accreditations" value="ATA Level 2")
                | ATA Level 2
              label.checkbox
                input(type="checkbox" name="accreditations" value="ATA Level 3")
                | ATA Level 3
              label.checkbox
                input(type="checkbox" name="accreditations" value="ATA Level 4")
                | ATA Level 4
              label.checkbox
                input(type="checkbox" name="accreditations" value="Other Accreditation")
                | Other Accreditation
              label.checkbox
                input(type="checkbox" name="accreditations" value="IRTEC Accredited / Qualified Technician")
                | IRTEC Accredited / Qualified Technician
              label.checkbox
                input(type="checkbox" name="accreditations" value="IMI Level 3 Electric/Hybrid Vehicle Repair & Replacement (1000V)")
                | IMI Level 3 Electric/Hybrid Vehicle Repair & Replacement (1000V)
              label.checkbox
                input(type="checkbox" name="accreditations" value="none")
                | I don't have any accreditations

            h4.form-subsection-title Memberships
            p.subtle Select all that apply, or choose "I don't have any memberships"
            .form-memberships
              label.checkbox
                input(type="checkbox" name="memberships" value="RMIF")
                | RMIF
              label.checkbox
                input(type="checkbox" name="memberships" value="IMI")
                | IMI
              label.checkbox
                input(type="checkbox" name="memberships" value="Other Membership")
                | Other Membership
              label.checkbox
                input(type="checkbox" name="memberships" value="RAC Approved Garage")
                | RAC Approved Garage
              label.checkbox
                input(type="checkbox" name="memberships" value="Autofirst Network")
                | Autofirst Network
              label.checkbox
                input(type="checkbox" name="memberships" value="none")
                | I don't have any memberships

          .form-section.section-business
            h3 Your business
            .business-question
              h4 Do you have a website?
              p.subtle This can be your own website, Facebook page, Google Business profile or similar
            .business-radio-stack
              label.radio
                input(type="radio" name="has_website" value="yes")
                | Yes
              label.radio
                input(type="radio" name="has_website" value="no")
                | No
            label.business-website-field.is-hidden
              span Website address
              input(type="url" name="website" placeholder="https://example.com")
              p.form-error#applicationWebsiteError(role="alert" aria-live="polite")
            .business-question
              h4 Do you hold trade insurance?
            .business-radio-stack
              label.radio
                input(type="radio" name="trade_insurance" value="yes")
                | Yes
              label.radio
                input(type="radio" name="trade_insurance" value="no")
                | No
            .business-question
              h4 Do you hold public liability insurance?
            .business-radio-stack
              label.radio
                input(type="radio" name="public_liability" value="yes")
                | Yes
              label.radio
                input(type="radio" name="public_liability" value="no")
                | No
            .business-question
              h4 Are you VAT registered?
            .business-radio-stack
              label.radio
                input(type="radio" name="vat_registered" value="yes")
                | Yes
              label.radio
                input(type="radio" name="vat_registered" value="no")
                | No
            .business-question
              h4 What type of mechanic are you?
            .business-radio-stack
              label.radio
                input(type="radio" name="business_type" value="mobile_mechanic")
                | Mobile mechanic
              label.radio
                input(type="radio" name="business_type" value="garage_based_mechanic")
                | Garage based mechanic
              label.radio
                input(type="radio" name="business_type" value="garage_and_mobile_mechanic")
                | Garage and mobile mechanic
            .business-premises.is-hidden
              .business-question
                h4 Premises address
                p.subtle Please provide the address of your garage or premises where customers can bring their vehicle.
              label
                span Street address
                input(type="text" name="premises_address" placeholder="Street address")
              label
                span City
                input(type="text" name="premises_city" placeholder="City")
              label
                span Postcode
                input(type="text" name="premises_postcode" placeholder="Postcode")
            .business-question
              h4 How do you fulfil your bookings? (Select all that apply)
            .form-memberships
              label.checkbox
                input(type="checkbox" name="services" value="mobile_service")
                | Mobile mechanic service
              label.checkbox
                input(type="checkbox" name="services" value="customer_drop")
                | Customer drop off
              label.checkbox
                input(type="checkbox" name="services" value="collection_delivery")
                | Collection and delivery
            .business-question
              h4 What specialist services do you offer? (Select all that apply)
              p.subtle Optional
            .form-memberships
              label.checkbox
                input(type="checkbox" name="specialist_services" value="mot_testing")
                | Mot testing
              label.checkbox
                input(type="checkbox" name="specialist_services" value="tyre_fitting")
                | Tyre fitting
              label.checkbox
                input(type="checkbox" name="specialist_services" value="electric_vehicles")
                | Electric vehicles
              label.checkbox
                input(type="checkbox" name="specialist_services" value="other")
                | Other
            label.business-specialist-other.is-hidden
              input(type="text" name="specialist_services_other" placeholder="Please specify your specialist service")
            .business-question
              h4 How far are you willing to travel around KT10 0QR
            label
              span Travel radius in miles:
              input(type="number" name="travel_radius" min="0" placeholder="0")

          .form-section.section-hear-about-us
            h3 How did you hear about us?
            label
              select(name="referral")
                option(value="") Please select one
                option(value="trade_magazine") Trade magazine
                option(value="tv") TV
                option(value="instagram") Instagram
                option(value="google") Google
                option(value="facebook") Facebook
                option(value="information_you_sent_me") Information you sent me
                option(value="fellow_mechanic") A fellow mechanic
                option(value="general_internet_search") General Internet search
                option(value="trade_show") Trade show
                option(value="twitter") Twitter
                option(value="roadrunner") RoadRunner
                option(value="letter_in_post") Letter in post
                option(value="field_representative_visit") Field representative visit
                option(value="other") Other
          button.primary(type="submit") Apply

  include ../../partials/general-footer

