extends ../../layouts/main

block vars
  - var title = "SmartWorkshop - Repair Type"
  - var bodyClass = ""

block content
  include ../../partials/navbar
  main.page-shell.bookings-shell
    h1 Repair Type
    p This is the new page for the Repairs flow.
