extends ../../layouts/main

block vars
  - var title = "SmartWorkshop - Repair Type"
  - var bodyClass = "bookings-body"

block head
  link(rel="stylesheet", href="/css/pages/bookings.css")

block content
  header.main-header.general-header
    .header-content
      a.main-brand(href="/")
        span.main-logo SW
        div
          strong SmartWorkshop
          span Vehicle Service Marketplace
  main.page-shell.bookings-shell
    h1 Repair Type
    p This is the new page for the Repairs flow.
